.sticky-header {
    position: fixed;
    top: 0;
    max-width: none;
    width: 100%;


    z-index: 999;
    padding: 5px 0 10px;
    top: -135px;
    transform: translateY(130px);
    transition: all .6s;
    border-radius: 0;
    -webkit-box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.4);
}


.custom-nav ul {
    display: flex;
    padding: 0;
    margin: 64px 0 0;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
}
.modal-footer {
    border-top: 0px;
}
.custom-btn-modal button {
    background-color: #ff7916;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.custom-btn-modal button:hover {
    background-color: #000;
}
.pagination-cus {
    display: flex;
    justify-content: center;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover  {
    color: #FFF;
    border-color: #ff7916;
    background-color: #ff7916;
}
.custom-btn-modal button:focus {
    outline: none;
    background-color: #ff7916;
}
.custom-nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

.custom-nav ul li  a{  color: #404040;}

.custom-nav ul li i {
    position: relative;
    top: 3px;
}

/*Top header css*/

.top-header{
    background: #000;
    color: #f7f7f7;
    padding: 10px;
}

.top-header label {
    font-size: 14px;
        letter-spacing: 2px;
}

.min-div {
    background: rgba(255,255,255, 0.90);
    padding: 5px 0 10px;
    position: absolute;
    width: 100%;
}

.min-banner {
    background: url(../images/min-banner.jpg);
    height: 620px;
    background-position: center;
    background-size: cover;
    padding: 13% 0 0;
}


.banner-text h1{color:#fff; font-size:18px;font-family:califr-bold;font-weight:bold;text-align: center;     margin: 0 0 29px;} .banner-text h2{ font-size:60px; color:#ff7916; font-family:samantha;  text-shadow: 3px 4px 5px #000; text-align:center;}

.banner-text p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family: califr-bold;
    width: 70%;
    display: block;
    margin: 0px auto 50px;
    font-weight: bold;
}
.min-filde{ background-color:rgba(0,0,0, 0.80); padding:20px; border:1px solid #f78a31; font-family:califr-reguler;  font-weight: normal;}

.min-filde h2{font-size:24px;color:#ff7916;text-align:center;text-transform: uppercase;margin: 0 0 30px;}

.min-filde label {
    width: 100%;
    font-size: 14px;
    color: #ff7916;
    margin: 0 0 0;
    font-weight: 500;
}
.no_span {
    padding: 0px;
}
.min-filde input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    color: #fff; outline:none;
    padding: 10px 0;
}

.min-filde input::placeholder{ color:#fff;}

.min-filde button {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #ff7916;
    border: 1px solid #ff7916;
    margin: 21px 0 0;
    background: transparent;
    transition-duration:0.5s;
    letter-spacing: 1px;
}
.frist-sec-text button:hover {
    background-color: #000;
}

.frist-sec {
    padding: 70px 0px 0px;
    height: 498px;
    position: relative;
}    
.frist-sec-text h4 {
    font-size: 45px;
    font-family:samantha;
    color: #ff7916;

} 
.frist-sec-text p {
    font-size: 16px;
    color: #282828;
    font-family: Californian FB;
    line-height: 30px;
    margin-bottom: 10px;
    width: 93%;
    margin: 0;
}
.frist-sec-text button {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: #ff7916;
    text-transform: uppercase;
    width: 30%;
    padding: 12px 0;
    border: 1px solid #ff7916;
    margin: 16px 0 0;
    transition-duration:0.5s;
}


.frist-sec:after {
    content: url(../images/01.png);
  
    width:490px;
    height:411px;
    position: absolute;
    right: 0px;
    top: 0;
}



.second-sec {

background: url(../images/two-banner.jpg);

width: 100%;

padding: 50px 0px;

background-position: center;

background-size: cover;

background-attachment: fixed;
}




.frist-sec:before{ content: url(../images/02.png); position:absolute; right:0;bottom:-5px;}


.second-text h2 {
    text-align: center;
    color: #ff7916;
    font-size: 45px;
    font-family: samantha;
    margin: 0 0 7px;
}

.second-text p {
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #000;     font-family: Californian FB;
}

.second-text {
    margin: 0 0 50px;
}


.min-icon h3 {
    text-align: center;
    color: #ff7916;
    font-size: 25px;
    font-family: samantha;
    margin: 30px 0 10px;
}

.min-icon p {
    text-align: center;
    font-family: Californian FB;
    color: #282828;














    font-size: 16px;
    line-height: 28px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.min-icon h5 {
    font-size: 14px;
    text-align: center;
    color: #ff7916;
    letter-spacing: 1px;
    font-weight: 400;
}

.second-sec button {
    width: 100%;
    padding: 13px;
    background: transparent;
    border: 1px solid #ff7916;
    color: #ff7916;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 55px;
    transition-duration:0.5s;
    letter-spacing: 1px;
}
.second-sec button:hover {
    background-color: #000;
}

.center{display: block !important;margin: 0 auto !important;float: none !important;}




.ml7 {
  position: relative;

}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;

  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;

}
 








.ml10 {
  position: relative;

}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
 
}

.ml10 .letter {
  display: inline-block;

  transform-origin: 0 0;
}

.min-three {
    padding: 65px 0 30px;
}

.three-text{ margin:0 0 35px;}

.three-text h2{ font-size:45px; color:#ff7916;     font-family: samantha; text-align:center; }
.three-text p{text-align:center; font-size:16px;    font-family: Californian FB; color:#282828;}

.test{border: 1px solid #ff7916;padding:100px;position:relative;height: 550px;} 


.test:after {
    content: "Testimonial";
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    font-size: 45px;
    text-transform: uppercase;
    color: #eeeeee;
    letter-spacing: 2px;
    font-weight: bold;
    z-index: -1;
}

.test-text h2 {
    font-size: 25px;
    text-align: center;
    color: #ff7916;
    font-family: Californian FB;
    margin: 0 0 30px;
}


.test-text p {
    text-align: center;
    font-family: Californian FB;
    color: #282828;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}


.test-text span{color: #f7ce08;margin: 20px 0;}





.test-text h3 {
    text-align: center;
    color: #ff7916;
    font-size: 25px;
    font-family: samantha;
    margin: 16px 0 0;
}

.test .owl-dots {
    margin-right: 0;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.test .owl-dot {
    width: 11px;
    height: 11px;
    background: #7f7f7f;
    margin: 10px 4px;
    border-radius: 100px;
}

.owl-dot.active {
    background: #ff7916;
}


.last-sec{ position:relative;}

.box-new{background:#fff;padding: 12px 16px;border:1px solid #ff8435;width: 300px;/* position: absolute; */top: 50px;background-color: rgba(255,255,255, 0.90);position:relative;}


.box-new:before {
    content: "Blog";
    position: absolute;
    font-size: 45px;
    color: #e4e0dd;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}





.box-new h2{

font-size: 16px;

color: #ff7916;

font-family: samantha;

font-weight: bold;

letter-spacing: 1px;

border-bottom: 1px solid #ff7916;

line-height: 35px;

}
    
    
    
    
    
    
    .box-new p {
    color: #000000;
    font-size: 16px;
    font-family: Californian FB;
    line-height: 24px;
    margin: 11px 0;
    position: relative;
    z-index: 99;
}


.box-new h4 {
    font-size: 14px;
    color: #ff7916;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.last-sec img {
    margin: 0 0 25px;
}



.footer-sec {
    background-image: url(../../images/footer.png);
    width: 100%;
    padding: 50px 0px 0;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.footer-link h5 {
    color: #ff7916;
    font-size: 40px;
    font-family: Samantha;

}
.footer-link ul {

}
.footer-link ul li {
    color: #282828;
    font-size: 17px;
    text-transform: capitalize;
    font-family: Californian FB;
    line-height: 28px;
}
.footer-link02 ul {
    padding-top: 65px;
}
.footer-link02 ul li {
    color: #282828;
    font-size: 17px;
    text-transform: capitalize;
    font-family: Californian FB;
    line-height: 27px;
}
.footer-link03 h5 {
    color: #ff7916;
    font-size: 40px;
    font-family: Samantha;
}
.footer-link03 ul li i {
    color: #ff7916;
    font-size: 26px;
    padding-right: 10px;
}
.footer-link03 ul li {
    color: #282828;
    line-height: 42px;
    font-size: 16px;
    font-family: Californian FB;
}
.footer-text h5 {
    color: #ff7916;
    font-size: 45px;
    font-family: Samantha;
}

.footer-text p {
    color: #282828;
    font-size: 13px;
    margin-top: 17px;
    font-family: Californian FB;
}
.footer-text input::placeholder {
    color: #282828;
    font-size: 14px;
    font-family: Californian FB;
    text-transform: capitalize;
}
.footer-text input {
    background-color: #FFF;
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #ff7916;
    font-size: 14px;
    color: #282828;
}
.footer-text input:focus {
    outline: none;
    box-shadow: none;
}
.footer-text button {
    color: #ff7916;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
    border: 1px solid #ff7916;
    width: 100%;
    padding: 8px 12px;
    text-transform: uppercase;
    margin-top: 20px;
    transition-duration:0.5s;
}
.footer-text button:hover {
    background-color: #000;
}
.copyright02 {
    text-align: center;
    margin-top: 50px;
    padding: 18px 0;
    background-color: rgba(255,121,22, 0.20);
}
.copyright02 a {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    font-family: Californian FB;
}
.footer-logo {
    text-align: center;
    margin-bottom: 30px;
}
.copyright02 p {
    color: #000;
    font-size: 16px;
    font-family: Californian FB;
    margin: 0;
}

.custom-nav ul li i {
    font-size: 25px;
    color: #fb9142;
    position: relative;
    top: -3px;
}

a.back-to {
    background: #ff7916 !important;
}
.min-filde button:hover {
    background-color: #ff7916;
    color: #fff;
}

a.back-to:hover {
    background-color: #000 !important;
}


.test:before{ content: url(../../images/tes-clint.png); position:absolute;      left: -20px;
 top:0;}
 
 
.custom-nav .active:before {
    content: url(../images/active.png);
    position: absolute;
    top: -34px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    float: none;     text-align: center;
}

.custom-nav .active{ position:relative; color: #ff7916 !important;}

.rentals-banner {
    background: url(../images/page-benner-bg.jpg);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover; background-attachment:fixed;
}


.rentals-banner h1{font-size: 70px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
  
}


.rentals-banner p{font-size: 13px;line-height: 27px;color: #FFF;text-shadow: 3px 4px 5px #000;text-transform: capitalize;width: 55%;display: block;margin: 0 auto;text-align: center;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .selling-banner {
    background: url(../images/home1-banner3.jpg);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover; background-attachment:fixed;
}


.selling-banner h1{font-size: 70px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
  
}


.selling-banner p{font-size: 13px;line-height: 27px;color: #FFF;text-shadow: 3px 4px 5px #000;text-transform: capitalize;width: 55%;display: block;margin: 0 auto;text-align: center;}
    


    
    

.fornec-banner {
    background: url(../images/foreclosure-banner.jpg);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover; background-attachment:fixed;
}


.fornec-banner h1{font-size: 70px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
  
}


.fornec-banner p{font-size: 13px;line-height: 27px;color: #FFF;text-shadow: 3px 4px 5px #000;text-transform: capitalize;width: 55%;display: block;margin: 0 auto;text-align: center;}
    
    
/*new-inner*/
.contact-banner {
    background-image: url(../images/contact-banner.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-banner h4 {
    font-size: 60px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
    text-transform: capitalize;
}

.contact-us {
    background-image: url(../images/contact01.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    padding: 50px 50px;
    background-size: cover;
}

.contact-us h4 {
    color: #ff7916;
    font-family: Samantha;
    font-size: 65px;
    text-transform: capitalize;
}

.contact-us ul {
    padding-bottom: 20px;
}

.contact-us ul li {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
}

.contact-us ul li i {
    color: #ff7916;
    padding-right: 10px;
    font-size: 18px;
}

.box5 h1 {
    font-size: 50px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    font-family: Samantha;
}

.box5 p {
    margin: 25px 0 40px;
    color: #000;
    font-weight: 400;
    font-family: Californian FB;
    font-size: 17px;
    line-height: 25px;
}

.border2 {
    border-left: 5px solid #ff7916;
    padding-left: 30px;
    padding: 1px 30px 6px;
}

.box5 {
    background: #fff;
    padding: 40px 130px;
}

.box5 h5 {
    font-size: 18px;
    color: #000;
    font-family: Californian FB;
    font-weight: 600;
    margin: 0 0 15px;
}

.border2 h4 {
    font-size: 16px;
    color: #000;
    font-family: Californian FB;
    line-height: 21px;
    font-weight: 400;
}

.border2 h6 {
    font-size: 16px;
    font-family: Californian FB;
    line-height: 20px;
}

.border2 h6 a {
    color: #ff7916;
}

.box2 {
    padding: 33px;
    height: 490px;
    background: #ff7916;
}

.box2 h1 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    font-family: 'Samantha';
    text-transform: capitalize;
    margin: 0 0 30px;
}

.box2 textarea {
    padding: 14px 14px;
    width: 100%;
    border: none;
    background: #fff;
    border-bottom: 1px solid #ced4e1;
    color: #000;
    outline: none;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 13px;
    height: 100px;
    border-radius: 5px;
    resize: none;
    border-bottom: 2px solid #000;
    outline: none;
}

.box2 input {
    padding: 10px 12px;
    width: 100%;
    border: none;
    background: #fff;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
    border-radius: 5px;
}

.box2 button {
    padding: 14px 14px;
    width: 100%;
    border: none;
    background: #fff;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
    border-radius: 5px;
}

.box2 button:hover{ background: #000;  border-bottom: 2px solid #fff; color: #fff;}

select {
    padding: 14px 14px;
}
select::placeholder {
    color: #000 !important;
}
select.form-control {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    border-radius: 4px !important;
}

.box2 input::placeholder {
    color: #000;
}

select.form-control::placeholder {
    color: #000;
}

.box2 textarea::placeholder {
    color: #000;
}

.abot-bg h3 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #ff7916;
    font-family: Samantha;
}

.borline:before {
    content: "";
    background: #404040;
    width: 50px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 55px;
}

.borline:after {
    content: "";
    background: #ff7916;
    width: 50px;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50px;
    top: 55px;
}

.abot-bg p {
    font-size: 17px;
    color: #000;
    width: 95%;
    margin: 0px 0 20px;
    font-family: Californian FB;
}

.about-banner {
    background: url(../images/about-banner.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.abot-bg {
    padding: 80px 0px 80px;
    background: url(../images/policy-banner.jpg);
    background-attachment: fixed;
}

.about-banner h4 {
    font-size: 70px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-banner p {
    font-size: 13px;
    line-height: 27px;
    color: #FFF;
    text-shadow: 3px 4px 5px #000;
    text-transform: capitalize;
    width: 55%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.second-sec {
    background: url(../images/two-banner.jpg);
    width: 100%;
    padding: 50px 0px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.faqs-banner {
    background: url(../images/faqs-banner.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faqs-banner h4 {
    font-size: 60px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.marg {
    background: url(../images/about-inner.jpg);
    padding: 80px 0px 20px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.marg h5 {
    font-size: 60px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 6px 10px 5px #404040;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.privacy-banner {
    background: url(../images/privacy-banner.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.privacy-banner h4 {
    font-size: 70px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.privacy-policy , .terms-policy {
    background: url(../images/policy-banner.jpg);
    width: 100%;
    padding: 80px 0px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.privacy-policy h5,
.terms-policy h5 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ff7916;
    font-family: samantha;
    margin: 0 0 11px;
    text-align: left;
}

.privacy-policy p,
.terms-policy p {
    font-size: 17px;
    line-height: 27px;
    color: #595757;
    margin: 0 0 30px;
    font-family: Californian FB;
}

.terms-banner {
    background: url(../images/term-banner.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.terms-banner h4 {
    font-size: 70px;
    color: #ff7916;
    font-family: samantha;
    text-shadow: 3px 4px 5px #000;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.terms-banner p {
    font-size: 13px;
    line-height: 27px;
    color: #FFF;
    text-shadow: 3px 4px 5px #000;
    text-transform: capitalize;
    width: 55%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.contact-banner p {
    font-size: 13px;
    line-height: 27px;
    color: #FFF;
    text-shadow: 3px 4px 5px #000;
    text-transform: capitalize;
    width: 55%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.faqs-banner p {
    font-size: 13px;
    line-height: 27px;
    color: #FFF;
    text-shadow: 3px 4px 5px #000;
    text-transform: capitalize;
    width: 55%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.privacy-banner p {
    font-size: 13px;
    line-height: 27px;
    color: #FFF;
    text-shadow: 3px 4px 5px #000;
    text-transform: capitalize;
    width: 55%;
    display: block;
    margin: 0 auto;
    text-align: center;
}


.footer-link ul li a:hover {
    color: #ff7916;
}


.footer-link ul li a {
    color: #282828;
}






.footer-link02 ul li a {
    color: #282828;
}


.footer-link02 ul li a:hover {
    color: #ff7916;
}


.box2 select{padding: 14px 14px;
    width: 100%;
    border: none;
    background: #fff;
    border-bottom: 2px solid #000;
    color: #000;
    outline: none;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
    border-radius: 5px;
}



.booton input:hover {
    background: #000;
    color: #fff;
    transition-duration: 0.5s;
    border-bottom: 2px solid #fff;
}



.sign{
    padding: 180px 0px 70px;
    background: url(../images/policy-banner.jpg);
    background-attachment: fixed;
}


.min-icon h5 a:hover {
    color: #000;
    transition-duration: 0.5s;
}


