.alert{
    color: #fff !important;		
    z-index: 99999999999;
    background-blend-mode: color-burn;
		border-radius: 3px;
		border-radius: 3px; 
    width:33%;
    position:absolute;
    right:0%;
    bottom:3%;
}
.alert h4 {
    font-weight: 600;
}

.alert h4 {
    margin-top: 0;
    color: #fff;
}
.alert .close:hover {
    opacity: .5;
    filter: alpha(opacity=50);
}
.alert .close {
    color: #000;
    opacity: .2;
    filter: alpha(opacity=20);
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.alert-danger{
    background-color: #dd4b39 !important;
}
.alert-danger, .alert-error {
    border-color: #d73925;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.alert-success {
    background-color: #00a65a !important;
}

.alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info {
    color: #fff !important;
}

.alert-success {
    border-color: #008d4c;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro',sans-serif;
}
.h4, h4 {
    font-size: 18px;
}


 .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}



.alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #fff !important;
}
.alert-warning {
    border-color: #e08e0b;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}



.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}



.alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #fff !important;
}
.alert-info {
    border-color: #00acd6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert .close {
    color: #000;
    opacity: .2;
    filter: alpha(opacity=20);
}


.alert .icon {
    margin-right: 10px;
}




